.idea
.venv/
.env
__pycache__/
state.json
spotify_state.json
test*
sources/**

*.log
*.wav
__pycache__/
*.pyc
dist/
podcast_creator.egg-info/
src/podcast_creator/.vscode/settings.json
.vscode/settings.json
.themarker_cookies.txt
